@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

main {
    max-width: 1500px;
    margin: 8rem auto !important;
    text-align: justify;
}
.img-detailsContainer {
    align-items: center !important;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif;
}
.image-container img {
    width: 70%;
    object-fit: cover !important;
    max-height: 60vh;
    border-radius: 10%;
    margin: 7rem;
    position: relative !important;
    right: 1rem;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}
.details-container {
    margin-left: 4rem;
    display: flex;
    flex-direction: column !important;
    gap: 10px;
    text-align: center !important;
    align-items: center !important;
}
.buttons-container {
    display: flex;
    gap: 15px;
}
#cv {
    background-color: white !important;
    color: black !important;
    font-weight: 700;
}
#info {
    background-color: black !important;
    color: white;
    font-weight: 700;
}
.icon-container i {
    font-size: 50px;
}
.icon-container {
    display: flex;
    gap: 15px;
}
.tech-strack-container {
    display: flex;
    align-items: center !important;
    gap: 20px;
    margin-top: 3rem;
}
#html-logo {
    width: 10%;
    height: 10%;
}
#css-logo {
    width: 11%;
    height: 11%;
}
#js-logo {
    width: 11%;
    height: 11%;
}
#bootstrap-logo {
    width: 14%;
    height: 14%;
}
#viteReact-logo {
    width: 15%;
    height: 15%;
}
.tech-strack-container2 {
    display: flex;
    align-items: center !important;
    gap: 20px;
    margin-left: 10rem;
}
#php-logo {
    width: 15%;
    height: 15%;
}
#postgresql-logo {
    width: 12%;
    height: 12%;
}